<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout.html}">

<head>
    <title>Interactive Spring boot application </title>
</head>

<body>


    <div class="header" layout:fragment="header">
        <h1 th:text="#{home.title}">Federated Identity</h1>
    </div>

    <div class="content" layout:fragment="content">

        <a href="/protected/a" th:href="@{/protected/a}">/protected/a</a>
        <p></p>
        <a href="/protected/adminonly/a" th:href="@{/protected/adminonly/a}">/protected/adminonly/a</a>


        <p>
            <a th:if="${user}" th:href="@{/leave}">You login as <span style="color: blue;" th:text="${user.name}"></span>, Logout</a>
        </p>

        <div>
            <h2>All Users</h2>
            <p>name/password, accesskeys</p>
            <ul>
                <li th:each="user : ${users}">[[${user.name}]]/[[${user.name}]], <span th:each="ak : ${user.accesskeys}"
                        th:text="${ak}"></span></li>
            </ul>
        </div>
    </div>
</body>

</html>