<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout.html}">

<head>
    <title>Interactive Spring boot application </title>
</head>

<body>

    <div class="header" layout:fragment="header">
        <h1 th:text="#{login.title}">Federated Identity</h1>
    </div>

    <div class="content" layout:fragment="content">

        <!-- pure css login form -->
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <form class="pure-form pure-form-stacked" th:action="@{/custom-login-page}" method="POST">
                    <fieldset>
                        <legend th:text="#{login.userpass.csrf}">post url: /custom-login-page</legend>

                        <label th:for="${#ids.next('username-')}">Username</label>
                        <input th:id="${#ids.seq('username-')}" name="username" type="text" placeholder="Username">

                        <label th:for="${#ids.next('password-')}">Password</label>
                        <input th:id="${#ids.seq('password-')}" name="password" type="password" placeholder="Password">

                        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <p style="margin-top: 20px;"></p>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <form class="pure-form pure-form-stacked" action="/skipcsrf/custom-login-page" method="POST">
                    <fieldset>
                        <legend th:text="#{login.userpass.nocsrf}">post url: /skipcsrf/custom-login-page @see
                            AppSecurityConfig.java</legend>

                        <label for="username">Username</label>
                        <input id="username" name="username" type="text" placeholder="Username">

                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Password">

                        <!-- <label for="remember-me" class="pure-checkbox">
                            <input id="remember-me" name="remember-me" type="checkbox"> Remember me
                        </label> -->

                        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                    </fieldset>
                </form>
            </div>

            <div class="pure-u-1-3"></div>
        </div>

        <p style="margin-top: 20px;"></p>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <span th:text="#{login.xapikey.get}">GET url: /custom-login-page, login by X-API-KEY header. </span>
                <ul>
                    <li th:each="user : ${users}">[[${user.name}]]/[[${user.name}]], <button
                            th:hx-get="@{/custom-login-page}"
                            th:hx-headers="${@utilBean.map2json({{'X-API-KEY': user.accesskeys[0]}})}"
                            th:each="ak : ${user.accesskeys}"
                            th:text="${@utilBean.map2json({{'X-API-KEY': user.accesskeys[0]}})}"></button></li>
                    <li>noneexistuser/noneexistpassword, <button th:hx-get="@{/custom-login-page}"
                            th:hx-headers="${@utilBean.map2json({{'X-API-KEY': '000000000000000000000000000'}})}"
                            th:text="${@utilBean.map2json({{'X-API-KEY': '000000000000000000000000000'}})}">000000000000000000000000000</button>
                    </li>
                </ul>

            </div>
            <div class="pure-u-1-3"></div>
        </div>

        <p style="margin-top: 20px;"></p>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <span th:text="#{login.xapikey.post.csrf}">POST url: /custom-login-page, login by X-API-KEY header, with
                    _csrf.headerName and _csrf.token
                </span>
                <ul>
                    <li th:each="user : ${users}">[[${user.name}]]/[[${user.name}]], <button
                            th:hx-post="@{/custom-login-page}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;, &quot;${_csrf.headerName}&quot;: &quot;${_csrf.token}&quot;}|"
                            th:each="ak : ${user.accesskeys}"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;, &quot;${_csrf.headerName}&quot;: &quot;${_csrf.token}&quot;}|"></button>
                    </li>
                    <li>noneexistuser/noneexistpassword, <button th:hx-get="@{/custom-login-page}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;000000000000000&quot;, &quot;${_csrf.headerName}&quot;: &quot;${_csrf.token}&quot;}|"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;000000000000000&quot;, &quot;${_csrf.headerName}&quot;: &quot;${_csrf.token}&quot;}|">000000000000000000000000000</button>
                    </li>
                </ul>

            </div>
            <div class="pure-u-1-3"></div>
        </div>

        <p style="margin-top: 20px;"></p>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <span th:text="#{login.xapi.reach.resource.directly}">GET any protected url: /protected/a, authenticate
                    by X-API-KEY header, and reach the resource
                    directly. </span>
                <ul>
                    <li th:each="user : ${users}">[[${user.name}]]/[[${user.name}]], <button th:hx-get="@{/protected/a}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;}|"
                            th:each="ak : ${user.accesskeys}"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;}|"></button></li>
                    <li>noneexistuser/noneexistpassword, <button th:hx-get="@{/protected/a}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;000000000000000000000&quot;}|"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;000000000000000000000&quot;}|">X-API-KEY:
                            00000000000000000</button>
                    </li>
                </ul>

            </div>
            <div class="pure-u-1-3"></div>
        </div>

        <p style="margin-top: 20px;"></p>
        <div class="pure-g">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <span th:text="#{login.xapi.return.json}">GET any protected url: /protected/a, authenticate by X-API-KEY
                    header, and return JSON. </span>
                <ul>
                    <li th:each="user : ${users}">[[${user.name}]]/[[${user.name}]], <button th:hx-get="@{/protected/a}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;, &quot;Accept&quot;: &quot;application/json&quot;}|"
                            th:each="ak : ${user.accesskeys}"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;${user.accesskeys[0]}&quot;, &quot;Accept&quot;: &quot;application/json&quot;}|"></button>
                    </li>
                    <li>noneexistuser/noneexistpassword, <button th:hx-get="@{/protected/a}"
                            th:hx-headers="|{&quot;X-API-KEY&quot;: &quot;000000000000000000000&quot;, &quot;Accept&quot;: &quot;application/json&quot;}|"
                            th:text="|{&quot;X-API-KEY&quot;: &quot;000000000000000000000&quot;, &quot;Accept&quot;: &quot;application/json&quot;}|">000000000000000000000000000</button>
                    </li>
                </ul>

            </div>
            <div class="pure-u-1-3"></div>
        </div>
        <h2>
            <span th:text="#{login.savedrequest}">Saved reqeust uri in webSessionServerRequestCache:</span> : <span
                th:text="${savedRequest}">/shomewhere</span>
        </h2>

    </div>
</body>

</html>